<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User_Form</title>
</head>
<body>
    <form action="" method="post">
        {{ form.as_p }}
        <p style="color:purple;">{{ errors }}</p>
        <input type="submit" value="Submit" />
    </form>
    <hr>
    <p style="color:red;">{{ nickname }}</p>
    <p style="color:green;">{{ location }}</p>
    <p style="color:blue;">{{ sex }}</p>
    <p style="color:yellow;">{{ age }}</p>



</body>
</html>